<a href="https://colab.research.google.com/github/ProfessorArupDas/Intro_Comp_Programming/blob/main/Python_Data_types_Syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

#Code Block 1: Basic Declaration and Arithmetic with int and float

In [1]:
# Declare an integer variable
x = 10  # x is assigned the integer value 10

# Declare a float variable
y = 3.5  # y is assigned the floating-point value 3.5

# Perform addition
result = x + y  # Adds the integer x and float y, and stores the result in 'result'

# Print the result
print(f"Addition Result: {result}")  # Outputs: Addition Result: 13.5

Addition Result: 13.5

#Code Block 2: Multiplication and Type Checking

In [2]:
# Declare variables
a = 15  # Integer
b = 2.5  # Float

# Multiply the variables
product = a * b  # Multiplication results in a float because one operand is a float

# Check and print the data type of the result
print(f"Product: {product}, Type: {type(product)}")  # Outputs: Product: 37.5, Type: <class 'float'>

Product: 37.5, Type: <class 'float'>

#Code Block 3: Division and Floor Division

In [3]:
# Declare variables
x = 10  # Integer
y = 3  # Integer

# Regular division
regular_div = x / y  # Performs true division and returns a float

# Floor division
floor_div = x // y  # Performs division and truncates the decimal part (integer result)

# Print the results
print(f"Regular Division: {regular_div}")  # Outputs: Regular Division: 3.3333333333333335
print(f"Floor Division: {floor_div}")  # Outputs: Floor Division: 3

Regular Division: 3.3333333333333335
Floor Division: 3

#Code Block 4: Exponentiation

In [4]:
# Declare variables
base = 2  # Integer base
exponent = 3  # Integer exponent

# Calculate the power
result = base ** exponent  # Calculates 2 raised to the power of 3 (2 * 2 * 2)

# Print the result
print(f"2 raised to the power of 3 is: {result}")  # Outputs: 2 raised to the power of 3 is: 8

2 raised to the power of 3 is: 8

#Code Block 5: Modulus (Remainder of Division)

In [5]:
# Declare variables
x = 17  # Dividend (integer)
y = 4  # Divisor (integer)

# Calculate the remainder
remainder = x % y  # Finds the remainder when 17 is divided by 4

# Print the result
print(f"The remainder of {x} divided by {y} is: {remainder}")  # Outputs: The remainder of 17 divided by 4 is: 1

The remainder of 17 divided by 4 is: 1

#Code Block 6: Mixing int and float

In [6]:
# Declare variables
integer_value = 7  # Integer
float_value = 2.0  # Float

# Perform mixed operations
result_add = integer_value + float_value  # Adds an integer and a float, result is a float
result_div = integer_value / float_value  # Divides an integer by a float, result is a float

# Print the results
print(f"Addition: {result_add}, Division: {result_div}")
# Outputs: Addition: 9.0, Division: 3.5

Addition: 9.0, Division: 3.5



---



---

# Python Syntax

#1. Comments

In [7]:
# This is a single-line comment
# Comments are ignored by the Python interpreter and are used for documentation or explanation.

"""
This is a multi-line comment.
Multi-line comments are used for explaining more complex pieces of code
or for including block-level documentation.
"""
print("Comments are not executed!")  # This will output a message.

Comments are not executed!

#2. Indentation

In [8]:
# Proper indentation is required in Python to define code blocks.
if True:  # This condition is always True.
    print("This is properly indented!")  # This line belongs to the 'if' block.

# Example of an error due to improper indentation:
# if True:
# print("This will cause an IndentationError")

This is properly indented!

#3. Variables

In [9]:
# Declare variables
name = "Alice"  # A string value assigned to 'name'
age = 25  # An integer value assigned to 'age'

# Print variables
print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 25

# 4. Constants

In [10]:
# Declare constants (not enforced but written in uppercase as a convention)
PI = 3.14159  # Mathematical constant
MAX_USERS = 100  # Maximum number of users allowed

# Use constants in a calculation
circle_radius = 5
circle_area = PI * (circle_radius ** 2)  # Area formula: πr²

print(f"The area of the circle is {circle_area}")

The area of the circle is 78.53975

#5. Data Types

In [11]:
# Integer
x = 5  # Integer type

# Float
y = 3.14  # Floating-point number

# String
z = str(5)  # Explicitly cast the integer 5 to a string

# Print types of the variables
print(f"x: {x}, type: {type(x)}")
print(f"y: {y}, type: {type(y)}")
print(f"z: {z}, type: {type(z)}")

x: 5, type: <class 'int'>
y: 3.14, type: <class 'float'>
z: 5, type: <class 'str'>

#6. Input and Output

In [12]:
# Input from user
name = input("Enter your name: ")  # Input is always returned as a string
age = int(input("Enter your age: "))  # Convert input to integer

# Output using f-strings
print(f"Hello, {name}! You are {age} years old.")

Enter your name: A
Enter your age: 22
Hello, A! You are 22 years old.

#7. Arithmetic Operators

In [13]:
# Perform arithmetic operations
a = 10 + 5  # Addition
b = 2 ** 3  # Exponentiation (2 raised to the power of 3)

# Print results
print(f"Addition: {a}")
print(f"Exponentiation: {b}")

Addition: 15
Exponentiation: 8

#8. Comparison Operators

In [14]:
# Declare variables
x = 10
y = 20

# Perform comparisons
print(x == y)  # False, because 10 is not equal to 20
print(x < y)   # True, because 10 is less than 20
print(x >= 5)  # True, because 10 is greater than or equal to 5

False
True
True



---



---